h1{
    text-align:center;
    color:white;
    font-size:400%;
    justify-content:row;
   }
   p {
     color:white;
     font-size:300%;
   }
   img {
     height:700px;
     width:900px;
   }
